USE [master]
GO
/****** Object:  Database [boxrec]    Script Date: 6/24/2022 12:09:31 AM ******/
CREATE DATABASE [boxrec]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'boxrec', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.MSSQLSERVER\MSSQL\DATA\boxrec.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'boxrec_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.MSSQLSERVER\MSSQL\DATA\boxrec_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [boxrec].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [boxrec]
GO
/****** Object:  Table [dbo].[Belts]    Script Date: 6/24/2022 12:09:32 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Belts](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[Organization] [nvarchar](20) NOT NULL,
	[Division_ID] [int] NOT NULL,
	[Boxer_ID] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Boxers]    Script Date: 6/24/2022 12:09:32 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Boxers](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](100) NOT NULL,
	[Surname] [nvarchar](100) NOT NULL,
	[DateOfBirth] [date] NOT NULL,
	[Division_ID] [int] NOT NULL,
	[Photo_Url][nvarchar](1000)
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Division]    Script Date: 6/24/2022 12:09:32 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Divisions](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[Division] [nvarchar](20) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Fights]    Script Date: 6/24/2022 12:09:32 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Fights](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[Boxer1_ID] [int] NOT NULL,
	[Boxer2_ID] [int] NOT NULL,
	[Winner_ID] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Users]    Script Date: 6/24/2022 12:09:32 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Users](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[Username] [nvarchar](50) NOT NULL,
	[Password] [nvarchar](50) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Belts] ON 

INSERT [dbo].[Belts] ([ID], [Organization], [Division_ID], [Boxer_ID]) VALUES (1, N'WBA WORLD', 6, 2)
INSERT [dbo].[Belts] ([ID], [Organization], [Division_ID], [Boxer_ID]) VALUES (2, N'WBC WORLD', 6, 2)
INSERT [dbo].[Belts] ([ID], [Organization], [Division_ID], [Boxer_ID]) VALUES (3, N'WBO WORLD', 6, 2)
SET IDENTITY_INSERT [dbo].[Belts] OFF
GO
SET IDENTITY_INSERT [dbo].[Boxers] ON 

INSERT [dbo].[Boxers] ([ID], [Name], [Surname], [DateOfBirth], [Division_ID], [Photo_Url]) VALUES (1, N'Tyson', N'Fury', CAST(N'1998-09-20' AS Date), 6, 'https://static.prsa.pl/images/193a44e4-e9c6-49b1-88d5-65a13055494c.jpg?format=500')
INSERT [dbo].[Boxers] ([ID], [Name], [Surname], [DateOfBirth], [Division_ID], [Photo_Url]) VALUES (2, N'Deontay', N'Wilder', CAST(N'1998-09-20' AS Date), 6, 'https://i.iplsc.com/deontay-wilder/0007Y9AZLGH1QO6S-C122-F4.jpg')
INSERT [dbo].[Boxers] ([ID], [Name], [Surname], [DateOfBirth], [Division_ID], [Photo_Url]) VALUES (3, N'Dillian', N'Whyte', CAST(N'1998-09-20' AS Date), 6, 'https://bi.im-g.pl/im/aa/0d/1b/z28367530Q,Britain-Boxing.jpg')



SET IDENTITY_INSERT [dbo].[Boxers] OFF
GO
SET IDENTITY_INSERT [dbo].[Divisions] ON 

INSERT [dbo].[Divisions] ([ID], [Division]) VALUES (1, N'Lightweight')
INSERT [dbo].[Divisions] ([ID], [Division]) VALUES (2, N'Middleweight')
INSERT [dbo].[Divisions] ([ID], [Division]) VALUES (3, N'Supermiddleweight')
SET IDENTITY_INSERT [dbo].[Divisions] OFF
GO
SET IDENTITY_INSERT [dbo].[Fights] ON 

INSERT [dbo].[Fights] ([ID], [Boxer1_ID], [Boxer2_ID], [Winner_ID]) VALUES (1, 2, 3, 2)
INSERT [dbo].[Fights] ([ID], [Boxer1_ID], [Boxer2_ID], [Winner_ID]) VALUES (2, 2, 4, 2)
INSERT [dbo].[Fights] ([ID], [Boxer1_ID], [Boxer2_ID], [Winner_ID]) VALUES (3, 2, 5, 2)
SET IDENTITY_INSERT [dbo].[Fights] OFF
GO
SET IDENTITY_INSERT [dbo].[Users] ON 

INSERT [dbo].[Users] ([ID], [Username], [Password]) VALUES (1, N'admin', N'admin')
SET IDENTITY_INSERT [dbo].[Users] OFF
USE [master]
GO
